In [2]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.sfgov.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.sfgov.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wr8u-xric", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
results_df.head()

,incident_number,exposure_number,id,address,incident_date,call_number,alarm_dttm,arrival_dttm,close_dttm,city,...,detector_type,detector_operation,detector_effectiveness,detector_failure_reason,automatic_extinguishing_system_present,automatic_extinguishing_sytem_type,automatic_extinguishing_sytem_perfomance,automatic_extinguishing_sytem_failure_reason,number_of_sprinkler_heads_operating,box
0,8028304,0,080283040,150 Elsie St.,2008-04-01T00:00:00,080920257,2008-04-01T18:06:37,2008-04-01T18:15:19,2008-04-01T18:21:48,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8028303,0,080283030,85 Turner Tr.,2008-04-01T00:00:00,080920256,2008-04-01T18:00:52,2008-04-01T18:06:30,2008-04-01T18:22:18,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8028309,0,080283090,175 6th St.,2008-04-01T00:00:00,080920262,2008-04-01T18:42:06,2008-04-01T18:45:23,2008-04-01T18:53:25,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8028314,0,080283140,633 Hayes St.,2008-04-01T00:00:00,080920268,2008-04-01T19:03:52,2008-04-01T19:08:39,2008-04-01T19:35:36,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8028319,0,080283190,27th Av. / Cabrillo St.,2008-04-01T00:00:00,080920273,2008-04-01T19:16:12,2008-04-01T19:23:48,2008-04-01T19:28:49,SF,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
results_df.to_csv("results_sample.csv")

In [5]:
results_df.count()

incident_number                                 2000
exposure_number                                 2000
id                                              2000
address                                         2000
incident_date                                   2000
                                                ...
automatic_extinguishing_sytem_type                37
automatic_extinguishing_sytem_perfomance          37
automatic_extinguishing_sytem_failure_reason      37
number_of_sprinkler_heads_operating               20
box                                               17
Length: 64, dtype: int64